<!--SCROLL REVEAL-->
<!-- <script src="https://unpkg.com/scrollreveal"></script> -->

<!-- MAIN JS -->
<script src="assets/js/main.js"></script>
<!-- <script src="https://kit.fontawesome.com/f3ca4af96f.js" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="/JS/nav.js"></script>
</body>
</html>